name: build_go_click

on:
  push:
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    #使用公共的服务器checkoout
    - uses: actions/checkout@v3
    
    #安装go 
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: download hysteria
    - name: Download workflow artifact
      uses: dawidd6/action-download-artifact@v2.19.0
      with:
        workflow: Build and release
        commit: ecf6b8b7063e4bf36d85e9a25fa5d9c97c3a6d5f

    - name: download speedtest-go
    - name: run_go_click test speed


    