name: build_go_click

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      #使用公共的服务器checkoout
      - uses: actions/checkout@v3

      #安装go
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: install chome
        uses: browser-actions/setup-chrome@v0.0.0

      - name: run speedtest
        run: ./run_speedtest.sh
