name: build_go_click

on:
  push:
  pull_request:

jobs:
  hysteria_speed_test:
    runs-on: ubuntu-latest
    steps:
      #使用公共的服务器checkoout
      - uses: actions/checkout@v3

      #安装go
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: install chome
        uses: browser-actions/setup-chrome@v0.0.0

      - name: run speedtest env
        run: ./run_speedtest_env.sh

      - name: run speedtest in no proxy
        env: 
          protocol: n
        run: ./run_speedtest.sh


      - name: run speedtest env
        env: 
          protocol: w
        run: ./run_speedtest_env.sh

      - name: run speedtest in wechat-video
        run: ./run_speedtest.sh


      - name: run speedtest env
        env: 
          protocol: f
        run: ./run_speedtest_env.sh

      - name: run speedtest in faketcp
        run: ./run_speedtest.sh

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.0.0
        with:
          name: log
          path: ./*log


      - name: run speedtest env
        env: 
          protocol: u
        run: ./run_speedtest_env.sh

      - name: run speedtest in udp
        run: ./run_speedtest.sh    

      - name: run speedtest env
        run: ./run_speedtest_env.sh

      - name: run speedtest in no proxy
        env: 
          protocol: n      
        run: ./run_speedtest.sh

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.0.0
        with:
          name: log
          path: ./*log
